{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Customer</title>
</head>
    {% block content %}
        <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-sm">
            <h2 class="text-2xl font-bold mb-6 text-center">Add customer</h2>
            <form action= "{% url 'add_customer' %}" method="post" autocomplete="off" class="space-y-6">
                {% csrf_token %}
                {{ form.as_p }}
                <div>
                    <input type="submit"  class="w-full py-2 px-4 bg-green-700 hover:bg-green-900 text-white font-bold rounded-lg">
                </div>
                {% for error in form.non_field_errors %}
                    {{error}}
                {% endfor %}
            </form>
    </div>
    {% endblock %}