
{% load compress %}
{% load static %}
 
<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content=
        "width=device-width, initial-scale=1.0">
    <title>Django + Tailwind CSS</title>
    {% compress css %}
    <link rel="stylesheet"
        href="{% static 'src/output.css' %}">
    {% endcompress %}
</head>
 
<body class="bg-green-50">
    <nav class="container mx-auto mt-4 flex items-center justify-between">
        <div class="flex items-center space-x-4">

        <a href="/">
                        <img src="{% static 'img/leaf_crm1.png' %}" alt="Logo" class="w-9 h-5">
                        </a>
                        <a href="/" class="flex text-gray-800 hover:text-green-500">Home</a>
                        <a href="/about" class="text-gray-800 hover:text-green-500">About</a>
                        {% if user.is_authenticated %}
                        <a href="{% url 'customers' %}" aria-label="Customers" class="text-gray-800 hover:text-green-500">Customers</a>
                        <form method="post" action="{% url 'logout' %}">{% csrf_token %}<button type="submit" aria-label="User Logout" class="text-gray-800 hover:text-green-500">Logout</button></form>
                        {% else %}
                        <a href="/my-login" aria-label="User Login" class="text-gray-800 hover:text-green-500">Login</a>
                        <a href="/register" aria-label="User Register" class="text-gray-800 hover:text-green-500">Register</a>
                        {% endif %}
        </div>         
    </nav>
    <div class="container mx-auto mt-4 px-5">
        {% block content %}
        {% endblock content %}
    </div>
</body>
 
</html>